<b>Asset Type</b>

<script>
        $(document).ready(function() {
            $('#assetsTable').DataTable();
        } );
</script>

<div class="container">

    <div class="row">
        <!--left -->
        <div class="col-4">
            <div class="container">                
                <table class="table table-striped table-hover table-bordered" id="assetsTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Asset</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Asset 1</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Asset 2</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Asset n</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
        <!--end left -->

        <!-- middle -->
        <div class="col-4">
            <div class="container">
                CENTER
            </div>      
        </div>
        <!--end middle -->
        
        <!-- right -->
        <div class="col-4">
            <div class="container">
                RIGHT
            </div>      
        </div>
        <!--end right -->
    </div>

</div>
    